<div class="fundo">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h5>Contato</h5>
            <ul>
                <li><a href="mailto:australiaestudios2020@gmail.com" class="aa">Email</a></li>
                <li><a href="/website/contato" class="aa">Contatos</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Conteúdo</h5>
            <ul>
                <li><a href="/website/blog" class="aa">Publicações</a></li>
                <li><a  href="https://www.behance.net/australiaestudios" class="aa" target='_blank'>Portfólio</a></li>
                <li><a href="https://anchor.fm/australiacast" class="aa" target='_blank'>Podcast</a></li>            
            </ul>
        </div>
        
        <div class="col-md-4">
            <h5>Redes sociais</h5>
            <ul>
                <li><a href="https://twitter.com/AustrliaEstdio1" class="aa" target='_blank'>Twitter</a></li>
                <li><a href="https://www.instagram.com/australiaestudios/" class="aa" target='_blank'>Instagram</a></li>
                <li><a href="https://www.facebook.com/australiaestdios" class="aa" target='_blank'>Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/austr%C3%A1liaest%C3%BAdios" class="aa" target='_blank'>LinkedIn</a></li>             
            </ul>
        </div>
    </div>
    <br>
    <br>
    <p class="center">Austrália Estúdios &copy 2021</p>
</div>

<style>
    .fundo {
        background-color: #060d13;
        color: white;
        padding: 20px;
    }

.aa {
  text-decoration: none;
  color: white;
}
</style>