<div class="fundo">
    <br>
    <br>
    <br>
    <div class="container-sm">
        <div class="links">
    <div class="row">
        <div class="col-md-4">
            <h5>Contato</h5>
            <ul>
                <li><a href="mailto:australiaestudios2020@gmail.com" class="aa">Email</a></li>
                <li><a href="/website/contato" class="aa">Contatos</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Conteúdo</h5>
            <ul>
                <li><a href="/website/blog" class="aa">Publicações</a></li>
                <li><a  href="https://www.behance.net/australiaestudios" class="aa" target='_blank'>Portfólio</a></li>
                <li><a href="https://anchor.fm/australiacast" class="aa" target='_blank'>Podcast</a></li>            
            </ul>
        </div>
        
        <div class="col-md-4">
            <h5>Redes sociais</h5>
            <ul>
                <li><a href="https://twitter.com/AustrliaEstdio1" class="aa" target='_blank'>Twitter</a></li>
                <li><a href="https://www.instagram.com/australiaestudios/" class="aa" target='_blank'>Instagram</a></li>
                <li><a href="https://www.facebook.com/australiaestdios" class="aa" target='_blank'>Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/austr%C3%A1liaest%C3%BAdios" class="aa" target='_blank'>LinkedIn</a></li>             
            </ul>
        </div>
    </div>
    <br>
    <br>
    <p class="center" align="center">Nautilus &copy 2022</p>
    </div>
    </div>
</div>

<style>
    .fundo {
        background-color: #060d13;
        color: white;
        padding: 20px;
    }

.aa {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 200px;
        width: 150px;
        border-radius: 8px;
        align-items: center;
    }

    .alig {
        align-items: center;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 370px;
      width: 100%;
    }
}


@media (min-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img {
        max-height: 300px;
        max-width: 400px;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 150px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
    }
}

@media (min-width: 1200px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .ig {
        height: 120px;
        width: 170px;
        border-radius: 8px;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
      width: 100%;
    }
}

</style>