<div class="fundo container-md">
    <div class="cont">
        <div class="links" align="center">
    <div class="row" align="center">
        <div class='col-md-4'>
            <a href=""><img src="../img/instagram.png" alt="instagram" class="igu" /></a>
        </div>

        <div class='col-md-4'>
            <a href=""><img src="../img/linkedin.png" alt="twitter" class="igu" /></a>
        </div>

        <div class='col-md-4'>
            <a href=""><img src="../img/twitter.png" alt="linkedin" class="igu" /></a>
        </div>
        
    </div>
    </div>
    <br>
    <br>
    <p class="center" align="center">&copy Starterpack 2023</p>
    </div>
</div>

<style>
    .fundo {
        background-color: #212529;
        color: #fff;
        padding: 20px;
    }

.aa {
  text-decoration: none;
  color: black;
}

.igu:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .igu {
        height: 40px;
        width: 40px;
        border-radius: 8px;
        padding: 5px;
        transition: 0.5s;
    }

    .alig {
        align-items: center;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 370px;
      width: 100%;
    }

    .cont {
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media (min-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img {
        max-height: 300px;
        max-width: 400px;
        border-radius: 8px;
    }

    .igu {
        height: 40px;
        width: 40px;
        border-radius: 8px;
        padding: 0px;
        transition: 0.5s;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
    }
}

@media (min-width: 1200px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .inlinks {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    .igu {
        height: 50px;
        width: 50px;
        border-radius: 8px;
        padding: 0px;
        transition: 0.5s;
    }

    .borda {
      margin-bottom: 50px;
      padding: 0px;
      height: 120px;
      width: 100%;
    }

    .cont {
        margin-left: 200px;
        margin-right: 200px;
    }
}

</style>