<nav class="li cor">
  {{#if user}}
      <a class="nav-item nav-brand" href="/admin/publicar"><button class="botao">Publicar</button></a>
      <a class="nav-item nav-brand" href="/admin/painel"><button class="botao">Painel</button></a>
      <a class="nav-item nav-brand" href="/admin/logout"><button class="botao">Sair</button></a>
      <a class="nav-item nav-brand" href="/"><button class="botao">Home</button></a>

  {{else}}
      <a class="nav-item nav-brand" href="/"><button class="botao">Home</button></a>
      <a class="nav-item nav-brand" href="/website/blog"><button class="botao">Blog</button></a>
      <a class="nav-item nav-brand" href="/website/podcasts"><button class="botao">Podcast</button></a>
      <a class="nav-item nav-brand" href="/website/contato"><button class="botao">Contato</button></a>
  {{/if}}

</nav>


<style>
  .cor {
    background-color: #060d13;
  }

  .botao {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
  }

  .botao:focus {
    background-color: transparent;
    border: none;
    text-decoration: none;
  }

  .botao:active {
    background-color: transparent;
    border: none;
    text-decoration: none;
  }

  .img {
    height: 50px;
    width: 50px;
  }

  .dog {
    font-family: 'Amethysta', serif;
    font-size: 15px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
</style>
