<nav class="navbar navbar-expand-lg navbar-light bg-white lol">
  <a class="navbar-brand" href="#">Nautilus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recentes</a>
      </li>
  
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/painel">Painel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Sair</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/login">Login</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<style>
  .lol {
    margin-left: 10px;
  }
</style>