<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="img/starterpack2.png" alt="starterpack" class="im lol" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Starterpack <span class="sr-only">(current)</span></a>
      </li>
      
      <li><a class="nav-link active" href="/Noticia">Notícias</a></li>
          <li><a class="nav-link active" href="/Artigo">Artigos</a></li>
          <li><a class="nav-link active" href="/Economia">Economia</a></li>
          <li><a class="nav-link active" href="/Tecnologia">Tecnologia</a></li>
  
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/painel">Painel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Sair</a>
      </li>
      {{else}}
      
      {{/if}}
    </ul>
  </div>
</nav>

<style>
  .lol {
    margin-left: 10px;
  }

  .im {
    width: 40px;
    height: 40px;
  }
</style>