<html lang="pt-br">

<head>
    <title>News portal</title>
    <link rel="shortcut icon" href="img/fav3.ico" />
    <link rel="stylesheet" href="/css/bootstrasp.css">
    <!-- Compiled and minified CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166881719-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-166881719-1');
    </script>
    <script data-ad-client="ca-pub-7575097759398425" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <!-- Compiled and minified JavaScript -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
</head>

<body>
  <!--{{>_navbar}}-->
  <div class="">
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{_msg}}
    {{{body}}}
    {{>_footer}}
  </div>
</body>
  
</html>
